---
layout: default
title: Home
---

{% include header.html %}

<main>
    {% for post in paginator.posts %}
    <article class="post">
        {% if post.featured_image %}
        <a href="{{ post.url | relative_url }}">
            <img src="{{ post.featured_image | relative_url }}" alt="Featured Image" class="featured-image" style="transition: 0.2s ease-in-out;" onmouseover="this.style.opacity='0.8'; this.style.filter='grayscale(30%)';" onmouseout="this.style.opacity='1'; this.style.filter='grayscale(0%)';">
        </a>
        {% else %}
        <a href="{{ post.url | relative_url }}">
            <img src="/assets/images/placeholder.jpg" alt="Featured Image" class="featured-image" style="transition: 0.2s ease-in-out;" onmouseover="this.style.opacity='0.8'; this.style.filter='grayscale(30%)';" onmouseout="this.style.opacity='1'; this.style.filter='grayscale(0%)';">
        </a>
        {% endif %}
        <h2 class="post-title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
        <p class="post-meta">{{ post.date | date: "%B %d, %Y" }} </p>
    </article>
    {% endfor %}
    
    {% if paginator.total_pages > 1 %}
    <div class="pagination">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | relative_url }}" class="prev-page">← Previous Page</a>
        {% else %}
        <span class="prev-page disabled">← Previous Page</span>
        {% endif %}
        
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | relative_url }}" class="next-page">Next Page →</a>
        {% else %}
        <span class="next-page disabled">Next Page →</span>
        {% endif %}
    </div>
    {% endif %}
</main>

{% include sidebar.html %}
{% include footer.html %}